<div class="content d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="row">
            <div class="container">
                <h1>Buscar Libros</h1>
                <form action="/books/result" method="get">
                    <div class="mb-3">
                        <label for="title" class="form-label">Título</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Autor</label>
                        <input type="text" class="form-control" id="author" name="author">
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</div>