html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.capitalize {
  text-transform: capitalize;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
  padding: 6px;
}