<div class="content d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="row">
            <form action="/login/register" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="name" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electr&oacute;nico</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contrase&ntilde;a</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <a class="btn btn-info" href="/">Regresar</a>
            </form>
        </div>
    </div>
</div>